<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:pages, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:pages, :new) %></li>
  <li> <%= link_to tag_icon(:'align-justify', pat(:sort)), url(:pages, :sort) %></li>
</ul>
<div class="tabs-content">
  <% form_for :content, url(:pages, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'pages/form', :locals => { :f => f } %>
 <% end %>
 <%= partial 'pages/modal' %>
</div>
