<div class="row">
  <div class="col-md-8">
    <button type="button" class="btn btn-primary btn-sm image-library" data-toggle="modal" data-target="#imageLibrary">Image Library</button>
    <% 
      unless @content.values.blank? && current_account.tumblr_oauth_consumer_key.blank? && current_account.tumblr_oauth_secret_key.blank? || @content.values.blank?
    %>
      <%= link_to pat(:send_to_tumblr), :href => url(:contents, :tumblr, :id => @content.id), :id => 'send_to_tumblr', :class => 'btn btn-primary btn-sm' %>
    <% 
      end 
    %>
    <% error = @content.errors.key?(:title) && @content.errors[:title].count > 0 %>
    <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :title, :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :title, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
        <span class='help-block'><%= error ? f.error_message_on(:title) : "" %></span>
      </div>
    </fieldset>
    <% error = @content.errors.key?(:slug) && @content.errors[:slug].count > 0 %>
    <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :slug, :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :slug, :class => 'form-control input-xlarge input-with-feedback' %>
        <span class='help-block'><%= error ? f.error_message_on(:slug) : "" %></span>
      </div>
    </fieldset>
    <% error = @content.errors.key?(:body) && @content.errors[:body].count > 0 %>
     <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :tags, :class => 'control-label' %>
      <div class='controls'>
          <input 
            id="tags"
            type="hidden" 
            name="tags" 
            value="<%= @content.tags.map {|k,vs| k.title }.join(", ") %>"
            class="" />
      </div>
    </fieldset>
  </div>
  <div class="col-md-4">
    <% error = @content.errors.key?(:published) && @content.errors[:published].count > 0 %>
    <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :published, :class => 'control-label' %>
      <div class='controls'>
        <%= f.check_box :published, :class => '', :id => "published" %><br />
      </div>
    </fieldset>
    <div class="row">
      <div class="col-md-6">
        <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :date, :class => 'control-label' %>
          <div class='controls'>
            <%= date = @content.created_at ? @content.created_at.strftime("%d/%m/%Y - %H:%M:%S") : DateTime.now.strftime("%d/%m/%Y - %H:%M:%S") %>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6">
        <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :updated, :class => 'control-label' %>
          <div class='controls'>
            <%= updated = @content.updated_at ? @content.updated_at.strftime("%d/%m/%Y - %H:%M:%S") : DateTime.now.strftime("%d/%m/%Y - %H:%M:%S") %>
          </div>
        </fieldset>
      </div>
    </div>
    
    <fieldset class='control-group <%= error ? 'has-error' : ''%>' id="categories">
      <%= f.label :categories, :class => 'control-label' %>
      <div class='controls'>
        <ul>
          
          <% @categories.each_with_index do |cat, index| %>
            <% unless cat.parent_id %>
              <li>
                <% checked = @content.categories.include? cat %>
                <%= check_box_tag 'categories[]', :value => cat.id, :checked => checked  %>
                <%= cat.title %>
                <%= TreeHelper.do_something(cat.children, @content.categories) %>
              </li>
            <% end %>
          <% end %>
        </ul>
        
        
      </div>
    </fieldset>
    
    <% error = @content.errors.key?(:type) && @content.errors[:type].count > 0 %>
    <%= f.hidden_field :type, :value => 'post' %>
  </div>
  <div id="uploads_hidden">

  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Your content here <i class="icon icon-level-down"></i></h4>
    <textarea id="getTextFromHere" style="display: none"><%= f.object.body %></textarea>
  </div>
  <div class="col-md-12" id="append-editor">
  </div>
    <script type="text/template" id="template">
        <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
          <div id="editor">
            <textarea name="content[body]" class="editor" on-input="{{ this.change }}"><%= f.object.body %></textarea>
            <div markdown="{{text}}"></div>   
          </div>
        </fieldset>
    </script>
</div>
<div class="row">
  <br />
  <div class="col-md-12">
    <%= f.submit pat(:save), :class => 'btn btn-primary' %>
    &nbsp;
    <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
    &nbsp;
    <%= link_to pat(:cancel), url(:contents, :index), :class => 'btn btn-default' %>
  </div>
</div>
<script>
$(document).ready(function(){
  $.fn.iButton && $( '#published' ).iButton( 'repaint' );


  <%
    tags = @content.tags.map {|k,vs| 
      {
        "text" => k.title
      }
     } 
  %>
  var OBJ = <%= tags.to_json.html_safe %>;
  $("#tags").select2({
      tokenSeparators: [","],
      dropdownCssClass: "bigdrop",
      multiple:true,
      ajax: {
        url: "<%= url(:contents, :tags)%>",
        data: function(term) {
          return { 
            q: term
          }
        },
        results: function(data){
          return {results: data}
        }
      },
      createSearchChoice: function(term) {
          return {
              id: term,
              text: term
          };
      },
      initSelection: function(element, callback){
        var obj = OBJ;
        callback(obj);
      },
      id: function(object){
        return object.text
      }
  }).select2('val', OBJ);
  $('body').on('click', '#send_to_tumblr', function(event){
    event.preventDefault();
    var authenticity_token = $('input[name="authenticity_token"]').val(),
    url = $(this).attr('href');
    console.log(url)
    $.ajax({
        url: url,
        type: 'post',
        data: {authenticity_token: authenticity_token},
        success: function(data){
          console.log(data)
        }
    });
  })
});
</script>