<div class="row">
  <div class="col-md-12">
    <% error = @menu.errors.key?(:title) && @menu.errors[:title].count > 0 %>
    <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :title, :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :title, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
      </div>
    </fieldset>
    <% error = @menu.errors.key?(:slug) && @menu.errors[:slug].count > 0 %>
    <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :slug, :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :slug, :class => 'form-control input-sm input-with-feedback', :disabled => 'disabled' %>
      </div>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    
    <h5>External Link</h5>
    <div class="box external">
      <div class="box-content" data-who="external_link">
          <div class="controls">
              <input type="checkbox" value="0" name="external_link[id]" class="hide" checked="checked">
              <input type="hidden" value="external_link" name="external_link[type]" />
              <input class="form-control input-sm" type="text" value="" name="external_link[url]" placeholder="http://example.com"/><br />
              <input class="form-control input-sm" type="text" value="" name="external_link[title]" placeholder="Title" />
          </div>
      </div>
      <div class="box-action-btn">
        <a href="#" class="btn btn-primary btn-sm btn-block btn-add" data-action-for="external_link">Add</a>
      </div>
    </div>
  
    <h5>Sets</h5>
    <div class="box">
      <div class="box-content" data-who="content">
        <% @contents.each do |content| %>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="<%=content.id%>" name="content[id]"/>
              <input type="hidden" value="set" name="content[type]" />
              <input type="hidden" value="<%= content.title %>" name="content[title]" />
              <input type="hidden" value="<%= content.slug %>" name="content[slug]" />
              <%= content.title %>
            </label>
          </div>
        <% end %>
      </div>
      <div class="box-action-btn">
        <a href="#" class="btn btn-primary btn-sm btn-block btn-add" data-action-for="content">Add</a>
      </div>
    </div>
    
    <h5>Pages</h5>
    <div class="box">
      <div class="box-content" data-who="page">
        <% @pages.each do |page| %>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="<%=page.id%>" name="page[id]"/>
              <input type="hidden" value="page" name="page[type]" />
              <input type="hidden" value="<%= page.title %>" name="page[title]" />
              <input type="hidden" value="<%= page.slug %>" name="page[slug]" />
              <%= page.title %>
            </label>
          </div>
        <% end %>
      </div>
      <div class="box-action-btn">
        <a href="#" class="btn btn-primary btn-sm btn-block btn-add" data-action-for="page">Add</a>
      </div>
    </div>    
    
    <h5>Categories</h5>
    <div class="box">
      <div class="box-content" data-who="category">
        <% @categories.each do |category| %>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="<%=category.id%>" name="category[id]">
              <input type="hidden" value="category" name="category[type]" />
              <input type="hidden" value="<%= category.title %>" name="category[title]" />
              <input type="hidden" value="<%= category.slug %>" name="category[slug]" />
              <%= category.title %>
            </label>
          </div>
        <% end %>
      </div>
      <div class="box-action-btn">
        <a href="#" class="btn btn-primary btn-sm btn-block btn-add" data-action-for="category">Add</a>
      </div>
    </div>
    
    <h5>Tags</h5>
    <div class="box">
      <div class="box-content" data-who="tag">
        <% @tags.each do |tag| %>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="<%=tag.id%>" name="tag[id]">
              <input type="hidden" value="tag" name="tag[type]" />
              <input type="hidden" value="<%= tag.title %>" name="tag[title]" />
              <input type="hidden" value="<%= tag.slug %>" name="tag[slug]" />
              <%= tag.title %>
            </label>
          </div>
        <% end %>
      </div>
      <div class="box-action-btn">
        <a href="#" class="btn btn-primary btn-sm btn-block btn-add" data-action-for="tag">Add</a>
      </div>
    </div>
    
  </div>
  <div class="col-md-9">
    <div class="dd" id="menu">
        <ol class="dd-list" id="menu-first">
          
            <% unless @menu.data.nil?
            menu = JSON.parse(@menu.data)
              menu.each do |item| %>
                  <li class='dd-item' data-id='<%= item["id"] %>' data-type='<%= item["type"] %>' data-title='<%= item["title"] %>' data-slug="<%= item["slug"] %>" data-url="<%= item["url"]%>">
                  <div class='dd-handle'><%= TreeHelper.recovery_title(item["title"], item["id"], item["type"]) %></div>
                  <div class="dd-remove"><span class="icon icon-remove"></span></div>
                  <%= TreeHelper.do_other_thing(item["children"]) %>
                </li>
            <% end
            end 
            %>
        </ol>
    </div>
  </div>
</div>
<fieldset class='control-group <%= error ? 'has-error' : ''%>' style="display: none">
  <div class='controls'>
    <%= f.text_area :data, :class => 'form-control input-xlarge input-with-feedback' %>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:menus, :index), :class => 'btn btn-default' %>
</div>

<script id="entry-template" type="text/x-handlebars-template">
  <li class='dd-item' data-id='{{ id }}' data-type='{{ type }}' data-slug="{{ slug }}" data-title='{{ title }}' data-url='{{ url }}'>
    <div class='dd-handle'>{{ title }}</div>
    <div class="dd-remove"><span class="icon icon-remove"></span></div>
  </li>
</script>
<script>
//COMPILE TEMPLATE
var source = $("#entry-template").html();
var template = Handlebars.compile(source);


//PREPARE OUTPUT
var updateOutput = function(e)
{
    var list   = e.length ? e : $(e.target),
        output = list.data('output');
    if (window.JSON) {
        output.val(window.JSON.stringify(list.nestable('serialize')));
    } else {
        output.val('JSON browser support required for this demo.');
    }
};
// INIT NESTABLE
$('#menu').nestable();
$('#menu').on('change', updateOutput);
updateOutput($('#menu').data('output', $('#menu_data')));


//ACTION BTNS
$('.box-action-btn .btn-add').click( function(event){
  event.preventDefault();
  var who = $(this).attr('data-action-for');
  $('.box-content[data-who="'+who+'"] input[type="checkbox"]:checked').each(function(){
    var id = $(this).val();
    var type = $(this).parent().find('input[name="'+who+'[type]"]').val();
    var title = $(this).parent().find('input[name="'+who+'[title]"]').val();
    if(who === 'external_link'){
      var url = $(this).parent().find('input[name="'+who+'[url]"]').val();  
      var context = {title: title, id: id, type: type, url: url}
      console.log(context);
    }else{
      var slug = $(this).parent().find('input[name="'+who+'[slug]"]').val();
      var context = {title: title, id: id, type: type, slug: slug}
    }
    
    var html    = template(context);
    $('#menu #menu-first').append(html);
    if(who === 'external_link'){
      $(this).parent().find('input[type="text"]').val('');
    }else{    
      $(this).removeAttr('checked');
    }
  });
  updateOutput($('#menu').data('output', $('#menu_data')));
});

//ACTION REMOVE
$('#menu').on('click', '.dd-remove .icon-remove', function(event){
  event.preventDefault();
  var $cara = $(this).parent().parent();
  if($cara.find('ol.dd-list').length > 0){
    var ok = confirm("Deleting this item will delete other items inside");
     if(ok===true){
      $cara.remove();
      updateOutput($('#menu').data('output', $('#menu_data'))); 
     }else{
      return; 
     }
  }else{
   $cara.remove();
   updateOutput($('#menu').data('output', $('#menu_data')));  
  }
});

</script>
