<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta charset="utf-8">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta name=viewport content='width=device-width,initial-scale=1' />
	
	<title>The Killer-Rabbit Photography</title>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic,300,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag 'screen' %>
	
</head>
<body>
	
	<%= yield %>

<% #VENDOR %>
<%= javascript_include_tag  "App/vendor/jquery", "App/vendor/json2", "App/vendor/underscore", "App/vendor/backbone", "App/vendor/backbone.babysitter", "App/vendor/backbone.wreqr", "App/vendor/backbone.marionette", "App/vendor/handlebars-v1.3.0", "App/vendor/showdown", "App/vendor/spin", "App/vendor/spin.jquery" %>	

<% #APP SETUP AND COMMON FILES %>
<%= javascript_include_tag "App/app" %>

<% #ENTITIES %>
<%= javascript_include_tag "App/entities/header", "App/entities/set", "App/entities/page", "App/entities/category", "App/entities/tag" %>

<% #COMMON %>
<%= javascript_include_tag "App/common/views" %>

<% #HEADER %>
<%= javascript_include_tag "App/apps/header/header_app", "App/apps/header/list/list_controller", "App/apps/header/list/list_view" %>

<% #SET %>
<%= javascript_include_tag "App/apps/set/set_app", "App/apps/set/list/list_controller", "App/apps/set/list/list_view", "App/apps/set/show/show_controller", "App/apps/set/show/show_view" %>

<% #PAGE %>
<%= javascript_include_tag "App/apps/page/page_app", "App/apps/page/show/show_controller", "App/apps/page/show/show_view" %>

<% #CATEGORY$%>
<%= javascript_include_tag "App/apps/category/category_app", "App/apps/category/list/list_controller" %>

<% #TAG %>
<%= javascript_include_tag "App/apps/tag/tag_app", "App/apps/tag/list/list_controller" %>

<script type="text/javascript">
	App.start();
</script>

</body>
</html>