<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta charset="utf-8">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta name=viewport content='width=device-width,initial-scale=1' />
	
	<title>The Killer-Rabbit Photography</title>
	
	<%= stylesheet_link_tag 'screen' %>
	
</head>
<body>
	
	<%= yield %>

<% #VENDOR %>
<%= javascript_include_tag  "App/vendor/jquery", "App/vendor/json2", "App/vendor/underscore", "App/vendor/backbone", "App/vendor/backbone.babysitter", "App/vendor/backbone.wreqr", "App/vendor/backbone.marionette", "App/vendor/handlebars-v1.3.0" %>	

<% #APP SETUP AND COMMON FILES %>
<%= javascript_include_tag "App/app" %>

<% #ENTITIES %>
<%= javascript_include_tag "App/entities/header" %>

<% #HEADER %>
<%= javascript_include_tag "App/apps/header/header_app.js", "App/apps/header/list/list_controller.js", "App/apps/header/list/list_view.js" %>

<script type="text/javascript">
	App.start();
</script>

</body>
</html>